server:
  port: 8083

spring:
  profiles:
    active: prod

  jpa:
    hibernate:
      ddl-auto: validate

  kafka:
    bootstrap-servers: localhost:9092
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
      properties:
        spring.json.add.type.headers: false

jasypt:
  encryptor:
    password: ${jasypt_key}
    bean: jasyptEncryptor
